spring:
  datasource:
    url: jdbc:h2:mem:LibraryTest
    username: sa
    password: ""
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update

server:
  error:
    include-stacktrace: on_param